@media screen and (max-width: 999px) {
    /* Navbar */
    .logo-tit{
        display: none;
    }
    #user-drop{
        display: none;
    }
    #user-menu-drop{
        display: block;
    }
    /* Store Data */
    img#img-gal {
        width: 50vw;
        margin: 10px 15px;
    }
    .store-data {
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-gal-about-range {
        width: 90%;
    }
    .hour-location {
        width: 90%;
    }
    iframe{
        width: 60vw;
        height: 40vh;
    }
}